<div class="form_wrapper"><p-dialog header="Title" [(visible)]="display"></p-dialog>
    <div class="form_container">
        <div class="title_container">
            <h2>Editar Usuario</h2>
        </div>
        <div class="row clearfix">
            <div>
                <form [formGroup]="form">
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                        <input formControlName="nome" type="text" name="nome" placeholder="Nome" required />
                    </div>
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                        <p-inputMask mask="999.999.999-99" [unmask]=true formControlName="cpf" type="text" name="cpf" placeholder="CPF" required></p-inputMask>
                    </div>

                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                        <input formControlName="email" type="email" name="email" placeholder="Email" required />
                    </div>
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                        <p-calendar placeholder="Data de Nascimento" formControlName="dataNascimento" [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"></p-calendar>
                    </div>
                    <div class="row clearfix">
                        <div class="col_half">
                            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                                <p-inputMask mask="(99)99999-9999" [unmask]=true formControlName="telefone" type="text" name="name" placeholder="Telefone"></p-inputMask>
                            </div>
                        </div>
                    </div>

                    <div class="input_field select_option">
                        <p-dropdown formControlName="cargo" [options]="cargos"></p-dropdown>
                    </div>
                    <p-button (onClick)= "create()" label="Criar Usuario"></p-button>
                </form>
            </div>
        </div>
    </div>
</div>
