<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>

<ul class="timeline">
        <li *ngFor="let numeros of evento">
           <div *ngIf="numeros.id % 2 == 0">
               <div class="direction-r" >
                   <div class="flag-wrapper">
                       <span class="flag" (click)="showDialogListaEvento(numeros.id)">{{numeros.motivo.descricao}}</span>
                       <span class="time-wrapper"><span class="time">{{numeros.dataEvento}}</span></span>
                       <span class="time-wrapper"><span class="time">{{numeros.valor}}</span></span>
                   </div>
               </div>
           </div>
            <div *ngIf="numeros.id % 2 != 0">
                <div class="direction-l">
                    <div class="flag-wrapper">
                         <span class="flag" (click)="showDialogListaEvento(numeros.id)">{{numeros.motivo.descricao}}</span>
                        <span class="time-wrapper"><span class="time">{{numeros.dataEvento}}</span></span>
                    </div>
                </div>
            </div>
        </li>

		
</ul>

<p-button pButton icon="pi pi-plus" (click)="showDialog()"></p-button>	
<p-dialog [(visible)]="display">
	<app-evento-create [criaEvento] = "display"></app-evento-create>
	
</p-dialog>

<p-dialog [(visible)]="displayEvento" *ngIf="evento1" (onHide)="findAll()">
    <app-evento-listar [leigo]="evento1"></app-evento-listar>
</p-dialog>






<!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
  
The Timeline

<ul class="timeline">

	Item 1
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">Freelancer</span>
				<span class="time-wrapper"><span class="time">2013 - present</span></span>
			</div>
			<div class="desc">My current employment. Way better than the position before!</div>
		</div>
	</li>
  
	 Item 2
	<li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">Apple Inc.</span>
				<span class="time-wrapper"><span class="time">2011 - 2013</span></span>
			</div>
			<div class="desc">My first employer. All the stuff I've learned and projects I've been working on.</div>
		</div>
	</li>

	 Item 3
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">Harvard University</span>
				<span class="time-wrapper"><span class="time">2008 - 2011</span></span>
			</div>
			<div class="desc">A description of all the lectures and courses I have taken and my final degree?</div>
		</div>
	</li>
  
</ul> -->

