<div class="form_wrapper">
    <div class="form_container">
        <div class="title_container">
            <h2>Cadastro Usuario</h2>
        </div>
        <div class="row clearfix">
            <div>
                <form [formGroup]="form">
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                        <input formControlName="nome" type="text" name="nome" placeholder="Nome" required />
                    </div>
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                        <input formControlName="email" type="email" name="email" placeholder="Email" required />
                    </div>
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                        <p-calendar placeholder="Data de Nascimento" formControlName="dataNascimento" [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"></p-calendar>

                    </div>
                    <div class="row clearfix">
                        <div class="col_half">
                            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                                <input formControlName="telefone" type="text" name="name" placeholder="Telefone" />
                            </div>
                        </div>
                        <div class="input_field radio_option">
                            <input formControlName="status" type="radio" name="status" id="rd1">
                            <label for="rd1">Ativo</label>
                        </div>
                    </div>

                    <div class="input_field select_option">
                        <p-dropdown formControlName="cargo" [options]="cargos" ></p-dropdown>
                        <div class="select_arrow"></div>
                    </div>

                    <button class="button" type="submit" value="Cadastrar"></button>
                </form>
            </div>
        </div>
    </div>
</div>
