<div class="form_wrapper"><p-dialog header="Title" [(visible)]="display"></p-dialog>
    <div class="form_container">
        <div class="title_container">
            <h2>Criar Evento</h2>
        </div>
        <div class="row clearfix">
            <div>
                <form [formGroup]="form">
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                        <input formControlName="valor" type="text" name="valor" placeholder="valor do Evento $$$" required />
                    </div>
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                        <p-calendar placeholder="Data de Evento" formControlName="dataEvento" [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"></p-calendar>
                    </div>
                    <div class="input_field select_option">
                        <p-dropdown [options]="situacao" formControlName="situacao" ></p-dropdown>
                    </div>
                    <div class="input_field select_option">
                        <p-dropdown  [options]="motivos" formControlName="motivo"></p-dropdown>
                    </div>
                    <div class="input_field select_option">
                        <p-multiSelect [options]="" formControlName="usuario" optionLabel="name"></p-multiSelect>
                    </div>
                    <p-button label="Criar Evento"></p-button>
                </form>
            </div>
        </div>
    </div>
</div>
