<div class="">
<p-button class="input-b" type="button" label="Criar Usuario " (onClick)="usuarioCreate()" ></p-button>
</div>
<br/>

<p-table #dt [value]="usuario"  dataKey="id" styleClass="ui-table-customers" [rowHover]="true"
         [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
         [paginator]="true" currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} paginas"
         [filterDelay]="0" [globalFilterFields]="['name','country.name','representative.name','status']">
    <ng-template pTemplate="caption">
        Lista de Usuarios
        <div class="ui-table-globalfilter-container">
            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Pesquisar" />
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th colspan="2" pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
            <th colspan="2" pSortableColumn="name">Foto <p-sortIcon field="name"></p-sortIcon></th>
            <th colspan="3"  pSortableColumn="name">Email <p-sortIcon field="email"></p-sortIcon></th>
            <th colspan="2" pSortableColumn="name">Telefone <p-sortIcon field="name"></p-sortIcon></th>
            <th colspan="2" pSortableColumn="name">Cargo <p-sortIcon field="cargo"></p-sortIcon></th>
            <th colspan="2" pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
        </tr>

    </ng-template>
    <ng-template pTemplate="body" let-usuario>
        <tr >

            <td colspan="2">
                <span class="ui-column-title"></span>
                {{usuario.nome}}
            </td>
            <td colspan="2">
                <span class="ui-column-title">Foto</span>
            </td>
            <td colspan="3">
                <span class="ui-column-title"></span>
                {{usuario.email}}
            </td>
            <td colspan="2">
                <span class="ui-column-title"></span>
                {{usuario.telefone}}
            </td>
            <td colspan="2">
                <span class="ui-column-title"></span>
                {{usuario.cargo.label}}

            </td>
            <td colspan="2">
                <span class="ui-column-title"></span>
                <span [class]="'customer-badge status-' + usuario.status">{{usuario.status}}</span>
            </td>

        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="13" style="text-align:left">Sem Usuarios.</td>
        </tr>
    </ng-template>
</p-table>


