span.ng-tns-c70-4.ui-calendar {
    width: 100%;
}
.buttonc{
    display: inline-block;

    margin-bottom: 1%;
}

.acoes{
    display: inline;
    margin-left: 30%;
}
.edit{
    display: inline;

    color: #7af176;
}
.delete{

    margin-left: 10%;
    color: #e5192c;
}
