$primaryColor: #0090ff;
$primaryDarkColor: #0099ff;
$primaryLightColor: #777d81;
$accentColor: #5180ce;
$accentDarkColor: #274d8d;
$accentLightColor: #86b0f5;
$accentTextColor: #ffffff;
$darkMenuBgColor: #0090f1;
$darkMenuHoverColor: #0098ff;
$darkMenuRouterLinkActiveColor: #5180ce;
$lightMenuRouterLinkActiveColor: #5180ce;
$horizontalLightMenuRouterLinkActiveColor: #5180ce;

@import '../../sass/layout/_layout';
